  
{{!-- pulled out of homepage --}}
<article class="business">
  <div class="name">
    <a href="/businesses/{{id}}">{{name}}</a>
    <h5>Category:  {{category.username}} </h5>
    <a href="{{business_url}}">{{business_url}}</a>
   
  </div>
 
</article>